.color-black		{ color: #000000; }
.color-gray			{ color: #808080; }
.color-white		{ color: #ffffff; }

.color-yellow		{ color: #b58900; }
.color-orange 		{ color: #cb4b16; }
.color-red			{ color: #dc322f; }
.color-magenta		{ color: #d33682; }
.color-violet		{ color: #6c71c4; }
.color-blue			{ color: #268bd2; }
.color-light-blue	{ color: #d8e0e8; }
.color-cyan			{ color: #2aa198; }
.color-green		{ color: #859900; }

.color-yellow-light	{ color: #FDF5CC; }