form {

  width: 100%;
  margin: 20px 0;

  p {
    margin: 1.5em 0; padding: 0;
    position: relative; top: 0px; left: 0px;
  }

  input {
    margin: 0; padding: 0.5em;
    display: block;
    width: 100%;
    font-size: 1em;
    font-family: inherit;
    border: 1px solid #e1e3e3;
    @include box-sizing(border-box);
  }

}