
// $georgia, $helvetica, $lucida-grande, $monospace, $verdana
$font: "Droid Serif", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size: 16px;
$font-color: #333;

$primary-color: #24890d;
$secondary-color: #86b854;

$border-width: 1px;
$border-style: solid;
$border-color: #e1e3e3;
// border: $border-width dashed$border-style #eee$border-color;

$background-color: #fefefe;

$margin-bottom: 2em;